{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "semi": [
      "error",
      "always"
    ],
    "quotes": "warn",
    "no-tabs": "warn",
    "indent": [
      "error",
      4
    ],
    "no-trailing-spaces": "warn",
    "padding-line-between-statements": "warn",
    "eol-last": "warn",
    "padded-blocks": "warn",
    "no-negated-condition": "warn",
    "no-else-return": "warn",
    "no-implicit-coercion": "warn",
    "no-lonely-if": "warn",
    "eqeqeq": "off",
    "space-before-blocks": "warn",
    "lines-between-class-members": "warn",
    "no-await-in-loop": "off",
  }
}