{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "semi": ["error", "always"],
    "quotes": "off",
    "no-tabs": "off",
    "indent": ["error", 4],
    "no-trailing-spaces": "warn",
    "padding-line-between-statements": "off",
    "eol-last": "off",
    "padded-blocks": "off",
    "no-negated-condition": "off",
    "no-else-return": "off",
    "no-implicit-coercion": "off",
    "no-lonely-if": "off",
    "eqeqeq": "off",
    "space-before-blocks": "off",
  }
}